@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 500 16px/100% 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(135deg, #F45E7D 0%, rgba(255, 35, 64, 0) 70%), linear-gradient(225deg, #6E73FF 10%, rgba(51, 58, 253, 0) 80%), linear-gradient(315deg, #48FF98 10%, rgba(9, 245, 48, 0) 80%), linear-gradient(45deg, #DC48FF 100%, rgba(255, 251, 22, 0) 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form button,
li label,
li button {
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#55f685), to(#32af56));
  background-image: linear-gradient(180deg, #55f685, #32af56);
  -webkit-box-shadow: inset 0 0 0 3px #3DCC68;
          box-shadow: inset 0 0 0 3px #3DCC68;
  -webkit-transition: .5s transform, .5s box-shadow, .5s opacity;
  transition: .5s transform, .5s box-shadow, .5s opacity;
  will-change: transform, box-shadow, opacity;
  cursor: pointer;
}

form button span,
li label span,
li button span {
  -webkit-transition: .3s transform ease;
  transition: .3s transform ease;
  will-change: transform;
  display: block;
}

form button span::before, form button span::after,
li label span::before,
li label span::after,
li button span::before,
li button span::after {
  content: '';
  width: 23px;
  height: 6px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

form button span::after,
li label span::after,
li button span::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

form button::after,
li label::after,
li button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000010;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 1px 3px rgba(0, 0, 0, 0.05), inset 7px 7px 8px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 1px 3px rgba(0, 0, 0, 0.05), inset 7px 7px 8px rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transition: .3s opacity ease;
  transition: .3s opacity ease;
  will-change: opacity;
}

form button:hover::after,
li label:hover::after,
li button:hover::after {
  opacity: .8;
}

form button:hover span,
li label:hover span,
li button:hover span {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

form button:active,
li label:active,
li button:active {
  outline: none;
}

form button:active::after,
li label:active::after,
li button:active::after {
  opacity: 1;
}

main {
  min-width: 600px;
}

main .wrapper {
  width: 600px;
  margin-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .wrapper label {
  position: absolute;
  left: 20px;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  -webkit-transition: .3s transform ease, .1s color ease;
  transition: .3s transform ease, .1s color ease;
  will-change: transform, color;
  -webkit-transform-origin: left;
          transform-origin: left;
  cursor: text;
}

main .wrapper input {
  width: 600px;
  padding: 14px 20px;
  padding-right: 60px;
  font-size: 23px;
  border: 3px solid #E1E1E1;
  border-radius: 60px;
  -webkit-box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.15), -2px 0 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.15), -2px 0 3px 0 rgba(0, 0, 0, 0.1);
}

main .wrapper input:focus-within, main .wrapper input:focus, main .wrapper input:valid {
  outline: none;
}

main .wrapper input:focus-within + label, main .wrapper input:focus + label, main .wrapper input:valid + label {
  color: white;
  -webkit-transform: translate(-20px, -43px) scale(0.6);
          transform: translate(-20px, -43px) scale(0.6);
}

main .wrapper input[type="search"] {
  padding-right: 20px;
}

main header h1 {
  position: relative;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 2px;
}

main header h1::before, main header h1::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 2px;
  top: calc(50% - 1px);
  left: 0;
  background: white;
}

main header h1::after {
  left: auto;
  right: 0;
}
/*# sourceMappingURL=main.css.map */