@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");
/* Variables */
/* style */
*,
*::before,
*::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: rgba(253, 27, 185, 0.3);
}

::selection {
  background: rgba(253, 27, 185, 0.3);
}

body {
  font: 500 16px/100% 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(135deg, #F45E7D 0%, rgba(255, 35, 64, 0) 70%), linear-gradient(225deg, #6E73FF 10%, rgba(51, 58, 253, 0) 80%), linear-gradient(315deg, #48FF98 10%, rgba(9, 245, 48, 0) 80%), linear-gradient(45deg, #DC48FF 100%, rgba(255, 251, 22, 0) 50%);
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-size: 1em;
  right: 0;
  width: 2.6em;
  height: 2.6em;
  border: none;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#55f685), to(#32af56));
  background-image: linear-gradient(180deg, #55f685, #32af56);
  -webkit-box-shadow: inset 0 0 0 3px #3DCC68;
          box-shadow: inset 0 0 0 3px #3DCC68;
  -webkit-transition: .5s transform, .5s box-shadow, .5s opacity, .5s background-image;
  transition: .5s transform, .5s box-shadow, .5s opacity, .5s background-image;
  will-change: transform, box-shadow, opacity;
  cursor: pointer;
}

button span {
  -webkit-transition: .5s transform ease;
  transition: .5s transform ease;
  will-change: transform;
  display: block;
}

button span::before, button span::after {
  content: '';
  width: 1em;
  height: 0.26em;
  background: #fff;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

button span::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  -webkit-box-shadow: inset 4px 4px 3px 4px rgba(0, 0, 0, 0.2), inset 7px 7px 8px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 4px 4px 3px 4px rgba(0, 0, 0, 0.2), inset 7px 7px 8px 2px rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transition: .5s opacity ease;
  transition: .5s opacity ease;
  will-change: opacity;
}

button.check {
  right: 58px;
  left: auto;
  width: 30px;
  height: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#f5f5f5));
  background-image: linear-gradient(180deg, #FFFFFF, #f5f5f5);
  -webkit-box-shadow: inset 0 0 0 2px #f2f2f2;
          box-shadow: inset 0 0 0 2px #f2f2f2;
}

button.check::after {
  -webkit-box-shadow: inset 2px 2px 1px 1px rgba(0, 0, 0, 0.15), inset 2px 2px 1px 3px rgba(0, 0, 0, 0.05);
          box-shadow: inset 2px 2px 1px 1px rgba(0, 0, 0, 0.15), inset 2px 2px 1px 3px rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.02);
}

button.check span::before, button.check span::after {
  background: #dadada;
  width: 5px;
  height: 3px;
  -webkit-transform: translate(-74%, 0%) rotate(45deg);
          transform: translate(-74%, 0%) rotate(45deg);
}

button.check span::after {
  width: 10px;
  -webkit-transform: translate(-26%, -50%) rotate(-45deg);
          transform: translate(-26%, -50%) rotate(-45deg);
}

button.check.checked {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#55f685), to(#32af56));
  background-image: linear-gradient(180deg, #55f685, #32af56);
  -webkit-box-shadow: inset 0 0 0 3px #3DCC68, inset 0 0 0 100px #3DCC68;
          box-shadow: inset 0 0 0 3px #3DCC68, inset 0 0 0 100px #3DCC68;
}

button.check.checked span::before, button.check.checked span::after {
  background: #fff;
}

button.delete {
  right: 14px;
  width: 30px;
  height: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8a8a), to(#cf5e5e));
  background-image: linear-gradient(180deg, #ff8a8a, #cf5e5e);
  -webkit-box-shadow: inset 0 0 0 2px #e57171;
          box-shadow: inset 0 0 0 2px #e57171;
}

button.delete::after {
  -webkit-box-shadow: inset 2px 2px 1px 1px rgba(0, 0, 0, 0.15), inset 2px 2px 1px 3px rgba(0, 0, 0, 0.05);
          box-shadow: inset 2px 2px 1px 1px rgba(0, 0, 0, 0.15), inset 2px 2px 1px 3px rgba(0, 0, 0, 0.05);
}

button.delete span::before, button.delete span::after {
  width: 13px;
  height: 3px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

button.delete span::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

button:hover, button:focus {
  outline: none;
}

button:hover::after, button:focus::after {
  opacity: .8;
}

button:hover span, button:focus span {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

button:active {
  outline: none;
}

button:active::after {
  opacity: 1;
}

main {
  width: 600px;
  margin: 10% auto;
}

@media screen and (max-width: 750px) {
  main {
    width: 80%;
  }
}

main form {
  width: 100%;
}

main .wrapper {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 23px;
}

@media screen and (max-width: 750px) {
  main .wrapper {
    font-size: 18px;
  }
}

main .wrapper label {
  position: absolute;
  left: 20px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  -webkit-transition: .3s transform ease, .1s color ease;
  transition: .3s transform ease, .1s color ease;
  will-change: transform, color;
  -webkit-transform-origin: left;
          transform-origin: left;
  cursor: text;
  pointer-events: none;
}

main .wrapper input {
  width: 100%;
  padding: 0.6em 0.86em;
  padding-right: 2.6em;
  font-size: 1em;
  border: 3px solid #E1E1E1;
  border-radius: 60px;
  -webkit-box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.3), 0px 8px 9px -4px rgba(0, 0, 0, 0.2), 0px 2px 3px -2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.3), 0px 8px 9px -4px rgba(0, 0, 0, 0.2), 0px 2px 3px -2px rgba(0, 0, 0, 0.6);
}

main .wrapper input:focus-within, main .wrapper input:focus, main .wrapper input:valid {
  outline: none;
}

main .wrapper input:focus-within + label, main .wrapper input:focus + label, main .wrapper input:valid + label {
  color: white;
  -webkit-transform: translate(-0.87em, -1.87em) scale(0.6);
          transform: translate(-0.87em, -1.87em) scale(0.6);
}

main .wrapper input[type="search"] {
  padding-right: 20px;
}

main header {
  width: 100%;
}

main header h1 {
  position: relative;
  margin: 30px 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 750px) {
  main header h1 {
    font-size: 3.5vw;
  }
}

main header h1::before, main header h1::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 2px;
  top: calc(50% - 1px);
  left: 0;
  background: white;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.3);
  display: block;
}

main header h1::after {
  left: auto;
  right: 0;
}

main header h1 .number-tasks {
  font-weight: 600;
}

main section {
  width: 100%;
}

main section ul {
  min-height: 30px;
  padding: 0;
  list-style-type: none;
}

main section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 14px;
  padding-right: 90px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  border-left: 3px #E1E1E1 solid;
  border-right: 3px #E1E1E1 solid;
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), to(#f7f7f7));
  background-image: linear-gradient(0deg, white, #f7f7f7);
  -webkit-transition: border-radius .6s .3s ease-out;
  transition: border-radius .6s .3s ease-out;
}

main section ul li:first-of-type {
  border: 3px #e1e1e1 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

main section ul li:last-of-type {
  border: 3px #e1e1e1 solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main section ul li + li {
  border-top: 2px #dfdddd solid;
}

@-webkit-keyframes disapear {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disapear {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-46px);
            transform: translateY(-46px);
  }
}

@keyframes moveUp {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-46px);
            transform: translateY(-46px);
  }
}
/*# sourceMappingURL=main.css.map */